<!DOCTYPE html>
<html lang="en">
        <head>
		<link rel="shortcut icon" href="favicon.png">


<style>
        img {
                pointer-events: none;
                user-drag: none;
                -webkit-user-drag: none;
        }

        img {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
        }
</style>
</head>
<body>
        {{{body}}}

        <script>
                document.addEventListener("contextmenu", function (event) {
                        if (event.target.tagName === "IMG") {
                                event.preventDefault();
                        }
                });
        </script>
</body>

</html>